*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    padding-block: 10px;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

#speaker{
    background-color: #393939;
    padding: 8px;
    border-radius: 10px;
    color: white;
    border-style: none;
    margin-right: 8px;
}
#maximize{
    background-color: #393939;
    padding: 8px;
    border-radius: 6px;
    color: white;
    border-style: none;
    margin-right: 8px;
}
.container{
    height: 100vh;
    background-color:black ;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}
.pic-container{
    position: relative;
    display: inline-block;
    flex-basis: calc(100%/6);
    width: 200px;
    height: 100px;
}
.name-tag{
    position: absolute;
    bottom:0;
    left: 0;
    background-color:lightslategray;
    padding: 2px;
}