*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color:black ;
    overflow: scroll;
    display: flex;


/* contenuti del header */
}

 header{
    display: flex;
    justify-content:flex-end;
    background-color: black;
    padding-block: 10px;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

#speaker{
    background-color: #393939;
    padding: 8px;
    border-radius: 10px;
    color: white;
    border-style: none;
    margin-right: 8px;
    text-transform: capitalize;
}
#maximize{
    background-color: #393939;
    padding: 8px;
    border-radius: 6px;
    color: white;
    border-style: none;
    margin-right: 8px;
}

/* contenuti del main */
.cards-container{
    background-color:black;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    text-align: center;
}
.pic-container{
    position: relative;
    display: inline-block;
    flex-basis: calc(100%/6);
    width: 200px;
    height: 100px;
}
.name-tag{
    position: absolute;
    bottom:0;
    left: 0;
    background-color:lightslategray;
    padding: 2px;
    text-transform: capitalize;
}

/* contenuti del footer  */
footer{
    background-color: #1a1a1a;
    color:white ;
    display: flex;
    padding: 10px;
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    justify-content: space-between;


}
footer ul li{
    list-style: none;
    display: inline-block;
    margin: 5px;
    

}
footer ul li button{
    font-size:x-large;
    background-color: #1a1a1a;
    color: white;
    border-style: none;
    cursor: pointer;
}
footer span{
    text-transform: capitalize;
    font-size: 14px;
}
#green{
    color: limegreen;
}
.button-tag{
    display: flex;
    flex-direction: column;
}

#end-meet{
    background-color: red;
    padding: 15px;
    border-style: none;
    border-radius: 10px;
    text-transform: capitalize;
    
}



